.flexrow {
    display: flex;
    flex-direction: row;
}
.flexcol {
    display: flex;
    flex-direction: column;
}
html {
    max-height: 100vh;
}
body {
    background: black;
    max-height: 100vh;
    width: 100vw;
    margin: 0;
}

.logo {
    border-radius: 100%;
    margin: 10px;
    height: 100px;
    height: 6em;
}
.name {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    background-clip: text;
    font-weight: var(--font-weight);
    letter-spacing: var(--letter-spacing);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
    --stroke-width: calc(1em / 16);
    font-size: 80px;
    font-family: fantasy, sans-serif;
    padding: 0 5px;
    font-size: 4em;
}

.leadboard_div {
    position: absolute;
    margin-top: 116px;
}



table {
    width: 30vw;
    border-collapse: collapse;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    background-clip: text;
    font-family: fantasy, sans-serif;
    color: transparent;
    font-size: 1.5em;
}
th, td {
	padding: 10px;
}
tr td:first-child {
    text-align: center;
}
tr td:last-child {
    text-align: center;
}
td.nuber {
    width: 5px;
    padding: 10px;
}
th {
	text-align: left;
}
tr:first-child {
    padding: 5px;
}
thead th {
	background-color: #55608f;
}
tr.current {
    background: linear-gradient(90deg, #03a9f46e, #f441a56e);
}




.main_div {
    align-items: center;
    margin-top: 60px;
}
.name_div {
    align-items: center;
    width: 23em;
}
.counter_div {
    margin-top: 50px;
    width: 100vw;
    justify-content: center;
    z-index: 5;

}

.button {
    font-size: 1.4em;
    padding: 0.6em 0.8em;
    border-radius: 0.5em;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    box-shadow: 2px 2px 3px #000000b4;
    padding: 10px 15px 10px 30px;
}
.container .button:disabled {
    color: #777777;
    box-shadow: 0px 0px 20px 20px #000000c2;
}
.container {
    position: relative;
    padding: 3px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    border-radius: 0.9em;
    transition: all 0.4s ease;
    height: 50px;
    margin-top: 6px;
}
.container::before {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 0.9em;
    z-index: -10;
    filter: blur(0);
    transition: filter 0.4s ease;
}
.container:hover::before {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    filter: blur(1.2em);
}
.container:active::before {
    filter: blur(0.2em);
}
.counter {
    margin: 0;
    font-size: 55px;
    margin-left: 20px;
}
.videoContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.rickroll {
    position: absolute;
    margin-top: 50px;
    height: 50vh;
    visibility: hidden;
}

.logout_div {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    margin: 10px;
}
.logout {
    height: auto;
}
.logout_button {
    font-size: 30px;
    border-radius: 12px;
    padding: 10px 10px 8px 15px;
}
.gradient_text {
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    background-clip: text;
    color: transparent;
}





canvas {
    background: transparent;
    color:white;
    position: relative;
    z-index: 1;
    width: inherit;
}

.canvas-holder {
    display:block;
    width:98%;
    height:100vh;
    position: absolute;
}

.phone {
    float:left;
}

.tablet {
  float:left;
}

.small-desktop {
  float:left;
}

.large-desktop {
  float:left;
}
