<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="icon" href="static/media/pantera-icon.png">
    <title>{{ title }}</title>
    <script src="static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
    <section class="canvas-holder">
        <canvas id="balls" height="456" width="1040"></canvas>
    </section>
    <div class="flexrow app_div">
        <div class="flexcol leadboard_div">
            <table class="leadboard_table">
                <thead>
                  <td class="nuber">Miejsce</td>
                  <td class="text">Nazwa</td>
                  <td class="nuber">Liczba</td>
                  <td class="nuber">Klik/s</td>
                </thead>
                <tbody>
                    <tr class="{% if user0.current %}current{% endif %}">
                        <td>1.</td>
                        <td>{{ user0.name }}</td>
                        <td>{{ user0.click }}</td>
                        <td>{{ user0.speed }}/s</td>
                    </tr>
                    <tr class="{% if user1.current %}current{% endif %}">
                        <td>2.</td>
                        <td>{{ user1.name }}</td>
                        <td>{{ user1.click }}</td>
                        <td>{{ user1.speed }}/s</td>
                    </tr>
                    <tr class="{% if user2.current %}current{% endif %}">
                        <td>3.</td>
                        <td>{{ user2.name }}</td>
                        <td>{{ user2.click }}</td>
                        <td>{{ user2.speed }}/s</td>
                    </tr>
                    <tr class="{% if user3.current %}current{% endif %}">
                        <td>4.</td>
                        <td>{{ user3.name }}</td>
                        <td>{{ user3.click }}</td>
                        <td>{{ user3.speed }}/s</td>
                    </tr>
                    <tr class="{% if user4.current %}current{% endif %}">
                        <td>5.</td>
                        <td>{{ user4.name }}</td>
                        <td>{{ user4.click }}</td>
                        <td>{{ user4.speed }}/s</td>
                    </tr>
                    <tr class="{% if user5.current %}current{% endif %}">
                        <td>6.</td>
                        <td>{{ user5.name }}</td>
                        <td>{{ user5.click }}</td>
                        <td>{{ user5.speed }}/s</td>
                    </tr>
                    <tr class="{% if user6.current %}current{% endif %}">
                        <td>7.</td>
                        <td>{{ user6.name }}</td>
                        <td>{{ user6.click }}</td>
                        <td>{{ user6.speed }}/s</td>
                    </tr>
                    <tr class="{% if user7.current %}current{% endif %}">
                        <td>8.</td>
                        <td>{{ user7.name }}</td>
                        <td>{{ user7.click }}</td>
                        <td>{{ user7.speed }}/s</td>
                    </tr>
                    <tr class="{% if user8.current %}current{% endif %}">
                        <td>9.</td>
                        <td>{{ user8.name }}</td>
                        <td>{{ user8.click }}</td>
                        <td>{{ user8.speed }}/s</td>
                    </tr>
                    <tr class="{% if user9.current %}current{% endif %}">
                        <td>10.</td>
                        <td>{{ user9.name }}</td>
                        <td>{{ user9.click }}</td>
                        <td>{{ user9.speed }}/s</td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="flexcol main_div">
            <div class="flexrow name_div">
                <img src="static/media/pantera.jpg" class="logo" />
                <h1 class="name">Mirrovex</h1>
            </div>
            <div class="counter_div flexrow">
                <div class="container">
                    <button class="confetti_button button" disabled>Konfetti 🎉</button>
                </div>
                <p class="counter name">0</p>
            </div>
            <div class="videoContainer">
                <video src="static/media/rickroll.mp4" class="rickroll"></video>
            </div>
        </div>
        <div class="counter_div logout_div">
            <div class="container logout">
                <button class="logout_button button">
                    <div class="gradient_text">
                        <i class="fas fa-sign-out-alt logout_icon"></i>
                    </div>
                </button>
            </div>
        </div>
        
    </div>
</body>
</html>